body {
    background-color: rgb(214, 235, 240);
    font-family: Arial;
    margin: 0;
}

#my_content {
    margin: 20px;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: red;
}

a:hover {
    color: rgb(10, 220, 248);
    background-color: transparent;
    text-decoration: underline;
  }

/* NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR! */

#nav_div {
    position: fixed;
    width: 100%;
    top: 0;
}

#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#nav_li {
    float: left;
}
  
#nav_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav_a:hover {
    background-color: #111111;  
    color: rgb(10, 220, 248);
}

