body {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    margin: 0;
}

#my_content {
    margin: 80px;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: red;
}

a:hover {
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
  }


/* NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR!  NAV BAR! */

@media screen and (max-width: 600px) {
    #nav_ul {float: none;}

  }

#nav_div {
    position: fixed;
    width: 100%;
    top: 0;
}

#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#nav_li {
    float: left;
}
  
#nav_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav_a:hover {
    background-color: #111111;  
    color: rgb(10, 220, 248);
}

#nav_li:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #202020;
  }
  
 .picture_and_name {
    
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_div {
    padding-right: 20px;
}
.profile_div img {
    width: 300px; 
    border-style: solid;
}

.name_info {
   padding-left: 20px;
   text-align: center;
   color: rgb(80, 80, 80);
}
.name_info p {
    margin: 10px;
}

#info_hello {
    font-size: 20px;
}
#info_name {
    font-size: 50px;
}
#info_title {
    font-size: 25px;
    margin-bottom: 40px;
  
}

.name_info button {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    color: rgb(80, 80, 80);
}
.name_info button:hover {
    background-color: cyan;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #888888;
    transform: translateY(2px);
}

.name_info button:active {
    box-shadow: 0px 0px 6px 0px #888888 inset;
    transform: translateY(4px);
}

.name_info img:hover {
    cursor: pointer;
    transform: translateY(2px);
}

.name_info img:active {
    transform: translateY(4px);
}

  @media screen and (max-width: 750px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .picture_and_name {
        flex-direction: column;
    }
  }
